In [8]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("netflix_titles.csv")
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [14]:
data.loc[:,"type"].value_counts()

Movie      6131
TV Show    2676
Name: type, dtype: int64

In [42]:
arr = data.loc[0:10,"cast"]
arr

0                                                   NaN
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                   NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
5     Kate Siegel, Zach Gilford, Hamish Linklater, H...
6     Vanessa Hudgens, Kimiko Glenn, James Marsden, ...
7     Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8     Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9     Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...
10                                                  NaN
Name: cast, dtype: object

In [43]:
len(arr)

11

In [ ]:
data.loc[data["release_year"] >=2020].count()

### Question 1

In [6]:
data.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [9]:
data["cast"].replace(np.nan, "None",inplace=True)

In [10]:
data["cast"].isnull().sum()

0

In [11]:
def num_cast(val):
    if val== "None":
        return 0
    else:
        return len(str(val).split(", "))

In [12]:
data["No of cast"]=data["cast"].apply(num_cast)
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,No of cast
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",0
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",19
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,9
3,s4,TV Show,Jailbirds New Orleans,NaN,None,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",0
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,8

In [16]:
data.groupby(["type","country"]).count()

                                                            show_id  title  \
type    country
Movie   , France, Algeria                                         1      1
        Argentina                                                38     38
        Argentina, Brazil, France, Poland, Germany, Den...        1      1
        Argentina, Chile                                          2      2
        Argentina, Chile, Peru                                    1      1
        Argentina, France                                         1      1
        Argentina, France, United States, Germany, Qatar          1      1
        Argentina, Italy                                          1      1
        Argentina, Spain                                          7      7
        Argentina, United States                                  1      1
        Argentina, Uruguay, Serbia                                1      1
        Argentina, Uruguay, Spain, France                         1      1
        Argentina, Venezuela                                      1      1
        Australia                                                39     39
        Australia, Armenia, Japan, Jordan, Mexico, Mong...        1      1
        Australia, Canada                                         1      1
        Australia, France                                         1      1
        Australia, France, Ireland                                1      1
        Australia, India                                          1      1
        Australia, Iraq                                           1      1
        Australia, United Arab Emirates                           2      2
        Australia, United Kingdom                                 1      1
        Australia, United Kingdom, Canada                         1      1
        Australia, United Kingdom, United Arab Emirates...        1      1
        Australia, United Kingdom, United States, New Z...        1      1
        Australia, United States                                 10     10
        Austria                                                   5      5
        Austria, Czech Republic                                   1      1
        Austria, Iraq, United States                              1      1
        Austria, United States                                    1      1
...                                                             ...    ...
TV Show United States, Colombia                                   3      3
        United States, Colombia, Mexico                           1      1
        United States, Czech Republic                             3      3
        United States, France                                     2      2
        United States, France, Canada                             1      1
        United States, France, Denmark                            1      1
        United States, France, Japan                              5      5
        United States, France, South Korea, Indonesia             1      1
        United States, Hungary, Ireland, Canada                   1      1
        United States, India                                      1      1
        United States, Ireland                                    1      1
        United States, Ireland, United Kingdom, India             1      1
        United States, Israel, Italy, South Africa                1      1
        United States, Italy                                      1      1
        United States, Japan                                     10     10
        United States, Japan, Canada                              2      2
        United States, Mexico                                     3      3
        United States, Mexico, Colombia                           1      1
        United States, Mexico, Spain, Malta                       1      1
        United States, Netherlands, Japan, France                 1      1
        United States, New Zealand                                3      3
        United States, New Zealand, Japan                         1      1
        United States, Poland                                     1      1
        United States, Russia                                     1      1
        United States, Singapore                                  1      1
        United States, South Korea, China                         2      2
        United States, Sweden                                     1      1
        United States, United Kingdom                             9      9
        United States, United Kingdom, Australia                  1      1
        Uruguay, Germany                                          1      1

                                                            director  cast  \
type    country
Movie   , France, Algeria                                          1     1
        Argentina                                                 38    38
        Argentina, Brazil, France, Poland, Germany, Den...         1     1
        Argentina, Chile                                           2     2
        Argentina, Chile, Peru                                     1     1
        Argentina, France                                          1     1
        Argentina, France, United States, Germany, Qatar           1     1
        Argentina, Italy                                           1     1
        Argentina, Spain                                           7     7
        Argentina, United States                                   1     1
        Argentina, Uruguay, Serbia                                 1     1
        Argentina, Uruguay, Spain, France                          1     1
        Argentina, Venezuela                                       1     1
        Australia                                                 39    39
        Australia, Armenia, Japan, Jordan, Mexico, Mong...         1     1
        Australia, Canada                                          1     1
        Australia, France                                          1     1
        Australia, France, Ireland                                 1     1
        Australia, India                                           1     1
        Australia, Iraq                                            1     1
        Australia, United Arab Emirates                            2     2
        Australia, United Kingdom                                  1     1
        Australia, United Kingdom, Canada                          1     1
        Australia, United Kingdom, United Arab Emirates...         1     1
        Australia, United Kingdom, United States, New Z...         1     1
        Australia, United States                                  10    10
        Austria                                                    5     5
        Austria, Czech Republic                                    1     1
        Austria, Iraq, United States                               1     1
        Austria, United States                                     1     1
...                                                              ...   ...
TV Show United States, Colombia                                    0     3
        United States, Colombia, Mexico                            0     1
        United States, Czech Republic                              0     3
        United States, France                                      0     2
        United States, France, Canada                              0     1
        United States, France, Denmark                             0     1
        United States, France, Japan                               0     5
        United States, France, South Korea, Indonesia              0     1
        United States, Hungary, Ireland, Canada                    0     1
        United States, India                                       0     1
        United States, Ireland                                     1     1
        United States, Ireland, United Kingdom, India              0     1
        United States, Israel, Italy, South Africa                 1     1
        United States, Italy                                       0     1
        United States, Japan                                       0    10
        United States, Japan, Canada                               0     2
        United States, Mexico                                      1     3
        United States, Mexico, Colombia                            0     1
        United States, Mexico, Spain, Malta                        0     1
        United States, Netherlands, Japan, France                  0     1
        United States, New Zealand                                 0     3
        United States, New Zealand, Japan                          0     1
        United States, Poland                                      0     1
        United States, Russia                                      0     1
        United States, Singapore                                   0     1
        United States, South Korea, China                          0     2
        United States, Sweden                                      0     1
        United States, United Kingdom                              0     9
        United States, United Kingdom, Australia                   0     1
        Uruguay, Germany                                           0     1

                                                            date_added  \
type    country
Movie   , France, Algeria                                            1
        Argentina                                                   38
        Argentina, Brazil, France, Poland, Germany, Den...           1
        Argentina, Chile                                             2
        Argentina, Chile, Peru                                       1
        Argentina, France                                            1
        Argentina, France, United States, Germany, Qatar             1
        Argentina, Italy                                             1
        Argentina, Spain                                             7
        Argentina, United States                                     1
        Argentina, Uruguay, Serbia                                   1
        Argentina, Uruguay, Spain, France                            1
        Argentina, Venezuela                                         1
        Australia                                                   39
        Australia, Armenia, Japan, Jordan, Mexico, Mong...           1
        Australia, Canada                                            1
        Australia, France                                            1
        Australia, France, Ireland                                   1
        Australia, India                                             1
        Australia, Iraq                                              1
        Australia, United Arab Emirates                              2
        Australia, United Kingdom                                    1
        Australia, United Kingdom, Canada                            1
        Australia, United Kingdom, United Arab Emirates...           1
        Australia, United Kingdom, United States, New Z...           1
        Australia, United States                                    10
        Austria                                                      5
        Austria, Czech Republic                                      1
        Austria, Iraq, United States                                 1
        Austria, United States                                       1
...                                                                ...
TV Show United States, Colombia                                      3
        United States, Colombia, Mexico                              1
        United States, Czech Republic                                3
        United States, France                                        2
        United States, France, Canada                                1
        United States, France, Denmark                               1
        United States, France, Japan                                 5
        United States, France, South Korea, Indonesia                1
        United States, Hungary, Ireland, Canada                      1
        United States, India                                         1
        United States, Ireland                                       1
        United States, Ireland, United Kingdom, India                1
        United States, Israel, Italy, South Africa                   1
        United States, Italy                                         1
        United States, Japan                                        10
        United States, Japan, Canada                                 2
        United States, Mexico                                        3
        United States, Mexico, Colombia                              1
        United States, Mexico, Spain, Malta                          1
        United States, Netherlands, Japan, France                    1
        United States, New Zealand                                   3
        United States, New Zealand, Japan                            1
        United States, Poland                                        1
        United States, Russia                                        1
        United States, Singapore                                     1
        United States, South Korea, China                            2
        United States, Sweden                                        1
        United States, United Kingdom                                9
        United States, United Kingdom, Australia                     1
        Uruguay, Germany                                             1

                                                            release_year  \
type    country
Movie   , France, Algeria                                              1
        Argentina                                                     38
        Argentina, Brazil, France, Poland, Germany, Den...             1
        Argentina, Chile                                               2
        Argentina, Chile, Peru                                         1
        Argentina, France                                              1
        Argentina, France, United States, Germany, Qatar               1
        Argentina, Italy                                               1
        Argentina, Spain                                               7
        Argentina, United States                                       1
        Argentina, Uruguay, Serbia                                     1
        Argentina, Uruguay, Spain, France                              1
        Argentina, Venezuela                                           1
        Australia                                                     39
        Australia, Armenia, Japan, Jordan, Mexico, Mong...             1
        Australia, Canada                                              1
        Australia, France                                              1
        Australia, France, Ireland                                     1
        Australia, India                                               1
        Australia, Iraq                                                1
        Australia, United Arab Emirates                                2
        Australia, United Kingdom                                      1
        Australia, United Kingdom, Canada                              1
        Australia, United Kingdom, United Arab Emirates...             1
        Australia, United Kingdom, United States, New Z...             1
        Australia, United States                                      10
        Austria                                                        5
        Austria, Czech Republic                                        1
        Austria, Iraq, United States                                   1
        Austria, United States                                         1
...                                                                  ...
TV Show United States, Colombia                                        3
        United States, Colombia, Mexico                                1
        United States, Czech Republic                                  3
        United States, France                                          2
        United States, France, Canada                                  1
        United States, France, Denmark                                 1
        United States, France, Japan                                   5
        United States, France, South Korea, Indonesia                  1
        United States, Hungary, Ireland, Canada                        1
        United States, India                                           1
        United States, Ireland                                         1
        United States, Ireland, United Kingdom, India                  1
        United States, Israel, Italy, South Africa                     1
        United States, Italy                                           1
        United States, Japan                                          10
        United States, Japan, Canada                                   2
        United States, Mexico                                          3
        United States, Mexico, Colombia                                1
        United States, Mexico, Spain, Malta                            1
        United States, Netherlands, Japan, France                      1
        United States, New Zealand                                     3
        United States, New Zealand, Japan                              1
        United States, Poland                                          1
        United States, Russia                                          1
        United States, Singapore                                       1
        United States, South Korea, China                              2
        United States, Sweden                                          1
        United States, United Kingdom                                  9
        United States, United Kingdom, Australia                       1
        Uruguay, Germany                                               1

                                                            rating  duration  \
type    country
Movie   , France, Algeria                                        1         1
        Argentina                                               38        38
        Argentina, Brazil, France, Poland, Germany, Den...       1         1
        Argentina, Chile                                         2         2
        Argentina, Chile, Peru                                   1         1
        Argentina, France                                        1         1
        Argentina, France, United States, Germany, Qatar         1         1
        Argentina, Italy                                         1         1
        Argentina, Spain                                         7         7
        Argentina, United States                                 1         1
        Argentina, Uruguay, Serbia                               1         1
        Argentina, Uruguay, Spain, France                        1         1
        Argentina, Venezuela                                     1         1
        Australia                                               39        39
        Australia, Armenia, Japan, Jordan, Mexico, Mong...       1         1
        Australia, Canada                                        1         1
        Australia, France                                        1         1
        Australia, France, Ireland                               1         1
        Australia, India                                         1         1
        Australia, Iraq                                          1         1